@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1{
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2{
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3{
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
    .text-outline {
        -webkit-text-stroke: 1px #ffffff;
    }

    .text-outline-hover {
        -webkit-text-stroke: 1px #00dcff;
    }
}

/* Typewriter animasyonu için */
@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  /* Typewriter efektini uygulamak için */
  .typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    width: 0;
    animation: typewriter 4s steps(20) forwards, blink 0.75s step-end infinite;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.2);
    border-radius: 50px;
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.4);
  }

  /* Firefox scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 130, 246, 0.2) transparent;
  }

  /* Hide scrollbar for specific elements */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  